.register__container {
  width: 20%;
  min-width: 400px;
}

.register__card {
  width: 100%;
}

.register__header {
  border-bottom: 3px solid #eeeeee;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 0.1rem;
  margin-bottom: 2rem;
  text-align: left;
}

.register__divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.register__button {
  margin-top: 1rem;
}

.register__a {
  color: #333333;
}

.register__description {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 0.5rem;

  &--error {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
