.toolbar__title {
  font-family: 'Noto Sans KR';
  font-size: 3rem;
  font-weight: 800;
  overflow: hidden;
  padding: 0;

  box-shadow: none;
  border: 0px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 0px;

  &:focus {
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
  }
}

.toolbar__button {
  margin-left: 1rem;
}
